.bodycon{
    padding: 20px;
    width: 100%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 80px;
    text-align: center;
}

.typocon{
    display: block;
    width: 70%;
    font-family: Red Rose;
   
    text-align: left;
    height: 148px;
    width: 646px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    margin-left: 3px;
    

}

.typocon1 h3 {
    font-family: Red Rose;
    font-size: 56px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: -0.02em;

}

.typocon2 h6 {
    font-family: Red Rose;
font-size: 24px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
margin-top: 40px;
height: 102px;
width: 85%;
left: 0px;
margin-bottom: 40px;


}


.imgcon{
    margin-left: -40px;
    display: flex;
    text-align: left;
   
    border-radius: 15px;


  
}

.imgcon1{
    display: block;
    width: 234px;
    margin-top: 60px;
}

.imgcon2{
    display: block;
    width: 234px;
    margin-top: -35px; 
    margin-left: 5px;
}

.typocon .txtcol{
    color: #A02279;
}

